canvas {
	position: absolute;
	top: 0;
	left: 0;
}
p {
	position: absolute;
	font: 16px Georgia;
	color: #eee;
	top: calc( 75vh - 30px );
	text-shadow: 0 0 2px white;
}

body {
	overflow: hidden;
}
.center { 
	width: 100%;
	height:auto;
	margin-left: auto;
 	margin-right: auto;
	opacity: 0.5;
  }
